<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DTA - AngularJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

    <script>
        angular.module('app', [])

        .controller('FirstController', function() {
            this.users = [{
                name: 'Thomas',
                email: 'thomas@ici.fr'
            }, {
                name: 'Bruno'
            }, {
                name: 'Nicolas',
                email: 'nicolas@plop'
            }, {
                name: 'Lilian'
            }, {
                name: 'fvfdv',
                email: 'nicolas@plop'
            }, {
                name: 'dfvdvfd'
            }, {
                name: 'Nicolfdvfdas',
                email: 'nicolas@plop'
            }, {
                name: 'lll'
            }, {
                name: 'ggg',
                email: 'nicolas@plop'
            }, {
                name: 'fff'
            }, {
                name: 'eee',
                email: 'nicolas@plop'
            }, {
                name: 'kkk'
            }, {
                name: 'ooo',
                email: 'nicolas@plop'
            }, {
                name: 'pppp'
            }, ];

            this.open = 1;
            this.top = '100px';
            this.left = '100px';

            this.clickTab = function(tab) {
                this.open = tab;
            }

            this.move = function() {
                this.top = Math.floor(Math.random() * 800) + 'px';
                this.left = Math.floor(Math.random() * 1000) + 'px';

            }

            this.userShow = this.users;
            this.limit = function(size) {
                this.userShow = this.users.slice(0, size || this.users.length);
            }
        })

        .filter("reverse", function() {
            return function(input) {
                return input.split("").reverse().join("");
            }
        })

        .filter("exclamation", function() {
            return function(input = "", a = "!", b = 1) {
                if (!input) return '';
                return input + a.repeat(b);
            }
        })

        .filter("noms", function() {
            return function(input) {
                if (!Array.isArray(input)) return;

                return input.map(user => user.name).join(', ');

            }
        })



        ;
    </script>

</head>

<body ng-app="app">
    <div class="container">
        <div style="margin-top:1em">
            <div ng-controller="FirstController as firstController">

                <!--bouton qui court-->
                <button style="position:absolute;left:100px;top:100px" ng-style="{ left: firstController.left , top: firstController.top }" class="btn btn-success" data-ng-mouseover="firstController.move()"> Click me </button>

                <!--bar de navigation-->
                <ul class="nav nav-tabs">
                    <li role="presentation" ng-class="{active: firstController.open === 1}">
                        <a href ng-click="firstController.clickTab(1)">Un</a>
                    </li>
                    <li role="presentation" ng-class="{active: firstController.open === 2}">
                        <a href ng-click="firstController.clickTab(2)">Deux</a>
                    </li>
                    <li role="presentation" ng-class="{active: firstController.open === 3}">
                        <a href ng-click="firstController.clickTab(3)">Trois</a>
                    </li>

                </ul>

                <!--va chercher les fichers dans views et les affiche-->
                <ng-include src="'views/templ' + firstController.open + '.html'"></ng-include>

                {{ "Bonjour" | exclamation:undefined:4}}
                <br> {{ "Bonjour" | exclamation:"?":6}}
                <br> {{ "Bonjour" | exclamation:""}}

                <!--affiche les noms de users-->
                <br> {{ firstController.users | noms }}

                <!--affiche dans un tableau les nom et emails des users-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <a href ng-click="sortBy = 'name'; reverse = !reverse">Nom</a>
                            </th>
                            <th>
                                <a href ng-click="sortBy = 'email'; reverse = !reverse">Email</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in firstController.userShow | filter:query | orderBy:sortBy:reverse">
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-info" ng-click="firstController.limit(3)">Afficher 3 items</button>
                                <button class="btn btn-info" ng-click="firstController.limit(5)">Afficher 5 items</button>
                                <button class="btn btn-info" ng-click="firstController.limit()">Afficher tout</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <input type="text" ng-model="query" class="form-control">

            </div>
        </div>
    </div>
</body>

</html>